src/*.o
src/build/*
src/*.a
src/*.so*
src/libivy.pc
tools/*.o
tools/ivyprobe
tools/ivythroughput
tools/ivyperf
tools/ivytestready
tools/ivytranslater
tools/*_omp
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/tmp/
debian/ivy-c/
debian/ivy-c-dev/
examples/ivyqt/build/
