#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
# The C makefile also uses CFLAGS to compile the command-line tools.
export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS) -fPIC
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

MAJOR := $(word 1,$(subst ., ,$(DEB_VERSION_UPSTREAM)))
MINOR := $(word 2,$(subst ., ,$(DEB_VERSION_UPSTREAM)))
MINOR2 := $(word 3,$(subst ., ,$(DEB_VERSION_UPSTREAM)))
IVY_BUILD_FLAGS = PREFIX=/usr LIB=/lib MAJOR=$(MAJOR) MINOR=$(MINOR) MINOR2=$(MINOR2) X86_64_CFLAGS=

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C src all cpp cpp-glib $(IVY_BUILD_FLAGS)
	sh doc/build_pdf.sh

override_dh_auto_clean:
	$(MAKE) -C src clean
	rm -rf doc/doxygen doc/__pycache__

override_dh_auto_install:
	$(MAKE) -C src install $(IVY_BUILD_FLAGS) DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C src install-cpp $(IVY_BUILD_FLAGS) DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C src install-cpp-glib $(IVY_BUILD_FLAGS) DESTDIR=$(CURDIR)/debian/tmp

override_dh_missing:
	dh_missing --fail-missing

override_dh_compress:
	dh_compress -X.pdf

# Produce the two requested packages, without automatic dbgsym packages.
override_dh_dwz:
	dh_dwz --no-dwz-multifile

override_dh_strip:
	dh_strip --no-automatic-dbgsym

.PHONY: override_dh_auto_build override_dh_auto_clean override_dh_auto_install override_dh_missing override_dh_compress override_dh_dwz override_dh_strip
